<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883944213656-cflng5fmsm5u6ajk2rh5fbclebqqf7h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883944213656-cflng5fmsm5u6ajk2rh5fbclebqqf7h8</string>
	<key>API_KEY</key>
	<string>AIzaSyDqHvhBGcV6rHMv5Vvi5nBtlk2kcA_ze8k</string>
	<key>GCM_SENDER_ID</key>
	<string>883944213656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sobok.corp.SobokSobok</string>
	<key>PROJECT_ID</key>
	<string>sobok-76d0a</string>
	<key>STORAGE_BUCKET</key>
	<string>sobok-76d0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883944213656:ios:cf67035042c8491a1c94ed</string>
</dict>
</plist>