on:
  pull_request:
    branches: [develop]
jobs:
  build:
    runs-on: macOS-latest
    name: 'Run Danger'
    steps:
      - uses: actions/checkout@v1
      - name: Install Ruby Dependencies
        run: bundle install --path vendor/bundle
      - name: Run Danger
        run: bundle exec danger
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}
